<div style="display: flex; flex-direction: column;">
    <h2>Crear nuevo grupo</h2>

    <form>

        <div style="display: flex;">
            
            <mat-form-field appearance="standard" style="width: 45%; margin: 0 auto;  max-width: 300px;">
                <mat-label>Nombre del grupo</mat-label>
                <input [(ngModel)]="group.name" [ngModelOptions]="{standalone: true}" matInput placeholder="" />
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 45%; margin: 0 auto; max-width: 300px;">
                <mat-label>Descripción del grupo</mat-label>
                <input [(ngModel)]="group.description" [ngModelOptions]="{standalone: true}" matInput placeholder="" />
            </mat-form-field>
        </div>
        
        <div style="display: flex;">
            <mat-form-field appearance="standard" style="width: 45%; margin: 0 auto; max-width: 300px;">
                <mat-label>Hash del grupo</mat-label>
                <input [(ngModel)]="group.hashtag" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. 1234" />
                <mat-icon matPrefix style="display: flex !important;">
                    <div style="margin: auto;">#</div>
                </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="standard" style="width: 45%; margin: 0 auto; max-width: 300px;">
                <mat-label>Contraseña de administración</mat-label>
                <input [(ngModel)]="group.adminKey" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. 1234" />
                <mat-icon matPrefix style="display: flex !important;">
                    lock
                </mat-icon>
            </mat-form-field>
        </div>


        <div style="display: flex; justify-content: space-around;">
            <button mat-stroked-button style="margin: 10px 10px; width: 30%; min-width: min-content; "
                (click)="onNoClick()">Cancelar </button>
            <button mat-stroked-button style="margin: 10px 10px; width: 30%; min-width: min-content; "
                (click)="onYesClick()" [disabled]="false" color="accent">Crear grupo </button>
        </div>

    </form>
</div>