<div style="height: 100%; width: 55vw; display: flex">

    <div style="margin: auto; display: flex; flex-direction: column; width: 85%; height: 90%; position: relative;">
  
      <div style="display: flex; margin: 10px auto; position: absolute; flex-direction: column;">
        <button mat-stroked-button (click)="zoomin()" [disabled]="this.zoom >= 17" style="background-color: white;">+</button>
        <button mat-stroked-button (click)="zoomout()" [disabled]="this.zoom <= 0" style="background-color: white; padding: 0; max-width: 10px;">-</button>
      </div>

      <svg [attr.viewBox]="viewBox" preserveAspectRatio="xMinYMin" id="map" [attr.width]="TILE_SIZE" [attr.height]="TILE_SIZE" (attr.width)="svg.width" (attr.height)="svg.height"
        style="background-color: rgb(226, 226, 226); height: 100%; width: 100%; margin: auto;" [style.cursor]="cursor" 
        (mousedown)="mouseDown($event)" 
        (mousemove)="mouseMove($event)" 
        (mouseup)="mouseUp()" 
        (mouseleave)="mouseUp()">
        <svg [attr.width]="TILE_SIZE" [attr.height]="TILE_SIZE" x="0" y="0" (dblclick)="dbClick($event)">
            <image preserveAspectRatio="none" *ngFor="let img of tileImages[zoom]" [attr.href]="tileUrl(img.x, img.y, img.z)" [attr.x]="img.lng" [attr.y]="img.lat" [attr.width]="imageWidth"></image>
        </svg>
        <circle cx="68.44200675555555" cy="121.03375382431418" [attr.r]="size * 0.01" fill="yellow" stroke="blue" stroke-width="0" (click)="circleClick()" />
        <rect x="-50" y="60" width="40" height="10" fill="red" stroke="blue" stroke-width="1" />
      </svg>
  
      
    </div>
  </div>
